#page{
    font-family:'Arial', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:    "nav nav nav nav"
                            "logo logo logo logo"
                            
                            ". tagline tagline . "
                            "img1 description description img2 "
                            "img1 productVision productVision img2 "
                            "img1 targetConsumer features img2 "
                            " . link link . "
                            " . bios bios . ";

}

#logo{
    grid-area: logo;
    padding-top: 10px;
    margin: auto;
}

#tagline{
    grid-area: tagline;
    margin: auto;
    text-align: center;
}

#img1{
    grid-area: img1;
    margin: auto;
     ;
}

#img2{
    grid-area: img2;
    margin: auto;
}

#description{
    grid-area: description;
    text-align: center;
}

#productVision{
    grid-area: productVision;
    text-align: center;
}

#targetConsumer{
    grid-area: targetConsumer;
}

#headingTargetConsumer{
    text-align: center;
}

#features{
    grid-area: features;
}

#headingFeatures{
    text-align: center;
}

#bios{
    grid-area: bios;
    text-align: center;
}

#link{
    grid-area: link;
    font-size: larger;
    text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav {
    grid-area: nav;
    overflow: hidden;
    background-color:black;
}
  
.nav a {
float: left;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-weight:bold;
}

.nav a:hover {
background-color:rgb(130, 81, 158);
color: black;
}

