#page{
    font-family:'Arial', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:    "nav nav nav nav nav"
                            "logo logo logo logo logo"
                            ". . headline . . "
                            ". img1 notes1 notes1 ."
                            ". notes2 notes2 img2 ."
                            ". img3 notes3 notes3 .";

}

#logo{
    grid-area: logo;
    padding: 10px;
    margin: auto;
}

#headline{
    grid-area: headline;
    margin: auto;
    text-align: center;
}

#img1{
    grid-area: img1;
    margin: auto;
}

#img2{
    grid-area: img2;
    margin: auto;
}

#img3{
    grid-area: img3;
    margin: auto;
}

#notes1{
    grid-area: notes1;
    padding-left: 40px;
    text-align: justify;
}

#notes2{
    grid-area: notes2;
    padding-right: 40px;
    text-align: justify;
}

#notes3{
    grid-area: notes3;
    padding-left: 40px;
    text-align: justify;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav {
    grid-area: nav;
    overflow: hidden;
    background-color:black;
}
  
.nav a {
float: left;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 18px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-weight:bold;
}

.nav a:hover {
background-color: rgb(130, 81, 158);
color: black;
}