#page{
    font-family:'Arial', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:    "nav nav nav nav nav"
                            "logo logo logo logo logo"
                            ". headline headline headline . "
                            ". notes1 notes1 . . "
                            ". . notes2 notes2 . "
                            ". notes3 notes3 . . "
                            ". . notes4 notes4 . "
                            ". notes5 notes5 . . "
                            ". . notes6 notes6 . "
                            ". notes7 notes7 . . "
                            ". . notes8 notes8 . "
                            ". notes9 notes9 . . "
                            ". . notes10 notes10 . "
                            ". notes11 notes11 . . "
                            ". . notes12 notes12 . "
                            ". notes13 notes13 . . "
                            ". . notes14 notes14 . "
                            ". notes15 notes15 . . "
                            ". . notes16 notes16 . "
                            ". notes17 notes17 . . "
                            ". . notes18 notes18 . "
                            ". notes19 notes19 . . "
                            ". . notes20 notes20 . "
                            ". notes21 notes21 . . "
                            ". . notes22 notes22 . "
                            ". notes23 notes23 . . "
                            ". . notes24 notes24 . "
                            ". notes25 notes25 . . "
                            ". . notes26 notes26 . "
                            ". notes27 notes27 . . "
                            ". . notes28 notes28 . "
                            ". notes29 notes29 . . "
                            ". . notes30 notes30 . "
                            ". notes31 notes31 . . "
                            ". . notes32 notes32 . "
                            ". notes33 notes33 . . "
                            ". . notes34 notes34 . "
                            ". notes35 notes35 . . "
                            ". . notes36 notes36 . "
                            ". notes37 notes37 . . "
                            ". . notes38 notes38 . "
                            ". notes39 notes39 . . "
                            ". . notes40 notes40 . "
                            ". notes41 notes41 . . "
                            ". . notes42 notes42 . "
                            ". notes43 notes43 . . "
                            ". . notes44 notes44 . "
                            ". notes45 notes45 . . "
                            ". . notes46 notes46 . "
                            ". notes47 notes47 . . "
                            ". . notes48 notes48 . "
                            ". notes49 notes49 . . "
                            ". . notes50 notes50 . "
                            ". notes51 notes51 . . "
                            ". . notes52 notes52 . "
                            ". notes53 notes53 . . "
                            ". . notes54 notes54 . "
                            ". notes55 notes55 . . "
                            ". . notes56 notes56 . "
                            ". notes57 notes57 . . "
                            ". . notes58 notes58 . "
                            ". notes59 notes59 . . "
                            ". . notes60 notes60 . "
                            ". notes61 notes61 . . "
                            ". . notes62 notes62 . "
                            ". notes63 notes63 . . "
                            ". . notes64 notes64 . "
                            ". notes65 notes65 . . "
                            ". . notes66 notes66 . "
                            ". notes67 notes67 . . "
                            ". . notes68 notes68 . "
                            ". notes69 notes69 . . "
                            ". . notes70 notes70 . "
                            ". notes71 notes71 . . "
                            ". . notes72 notes72 . ";
    background-color: rgb(111, 107, 114);
}

#logo{
    grid-area: logo;
    padding: 10px;
    margin: auto;
}

#headline{
    grid-area: headline;
    margin: auto;
    text-align: center;
}

#notes1{
    grid-area: notes1;
    text-align: center;
}

#notes2{
    grid-area: notes2;
    text-align: center;
}

#notes3{
    grid-area: notes3;
    text-align: center;
}

#notes4{
    grid-area: notes4;
    text-align: center;
}

#notes5{
    grid-area: notes5;
    text-align: center;
}

#notes6{
    grid-area: notes6;
    text-align: center;
}

#notes7{
    grid-area: notes7;
    text-align: center;
}

#notes8{
    grid-area: notes8;
    text-align: center;
}

#notes9{
    grid-area: notes9;
    text-align: center;
}

#notes10{
    grid-area: notes10;
    text-align: center;
}

#notes11{
    grid-area: notes11;
    text-align: center;
}

#notes12{
    grid-area: notes12;
    text-align: center;
}

#notes13{
    grid-area: notes13;
    text-align: center;
}

#notes14{
    grid-area: notes14;
    text-align: center;
}

#notes15{
    grid-area: notes15;
    text-align: center;
}

#notes16{
    grid-area: notes16;
    text-align: center;
}

#notes17{
    grid-area: notes17;
    text-align: center;
}

#notes18{
    grid-area: notes18;
    text-align: center;
}

#notes19{
    grid-area: notes19;
    text-align: center;
}

#notes20{
    grid-area: notes20;
    text-align: center;
}

#notes21{
    grid-area: notes21;
    text-align: center;
}

#notes22{
    grid-area: notes22;
    text-align: center;
}

#notes23{
    grid-area: notes23;
    text-align: center;
}

#notes24{
    grid-area: notes24;
    text-align: center;
}

#notes25{
    grid-area: notes25;
    text-align: center;
}

#notes26{
    grid-area: notes26;
    text-align: center;
}

#notes27{
    grid-area: notes27;
    text-align: center;
}

#notes28{
    grid-area: notes28;
    text-align: center;
}

#notes29{
    grid-area: notes29;
    text-align: center;
}

#notes30{
    grid-area: notes30;
    text-align: center;
}

#notes31{
    grid-area: notes31;
    text-align: center;
}

#notes32{
    grid-area: notes32;
    text-align: center;
}

#notes33{
    grid-area: notes33;
    text-align: center;
}

#notes34{
    grid-area: notes34;
    text-align: center;
}

#notes35{
    grid-area: notes35;
    text-align: center;
}

#notes36{
    grid-area: notes36;
    text-align: center;
}

#notes37{
    grid-area: notes37;
    text-align: center;
}

#notes38{
    grid-area: notes38;
    text-align: center;
}

#notes39{
    grid-area: notes39;
    text-align: center;
}

#notes40{
    grid-area: notes40;
    text-align: center;
}

#notes41{
    grid-area: notes41;
    text-align: center;
}

#notes42{
    grid-area: notes42;
    text-align: center;
}

#notes43{
    grid-area: notes43;
    text-align: center;
}

#notes44{
    grid-area: notes44;
    text-align: center;
}

#notes45{
    grid-area: notes45;
    text-align: center;
}

#notes46{
    grid-area: notes46;
    text-align: center;
}

#notes47{
    grid-area: notes47;
    text-align: center;
}

#notes48{
    grid-area: notes48;
    text-align: center;
}

#notes49{
    grid-area: notes49;
    text-align: center;
}

#notes50{
    grid-area: notes50;
    text-align: center;
}

#notes51{
    grid-area: notes51;
    text-align: center;
}

#notes52{
    grid-area: notes52;
    text-align: center;
}

#notes53{
    grid-area: notes53;
    text-align: center;
}

#notes54{
    grid-area: notes54;
    text-align: center;
}

#notes55{
    grid-area: notes55;
    text-align: center;
}

#notes56{
    grid-area: notes56;
    text-align: center;
}

#notes57{
    grid-area: notes57;
    text-align: center;
}

#notes58{
    grid-area: notes58;
    text-align: center;
}

#notes59{
    grid-area: notes59;
    text-align: center;
}

#notes60{
    grid-area: notes60;
    text-align: center;
}

#notes61{
    grid-area: notes61;
    text-align: center;
}

#notes62{
    grid-area: notes62;
    text-align: center;
}

#notes63{
    grid-area: notes63;
    text-align: center;
}

#notes64{
    grid-area: notes64;
    text-align: center;
}

#notes65{
    grid-area: notes65;
    text-align: center;
}

#notes66{
    grid-area: notes66;
    text-align: center;
}

#notes67{
    grid-area: notes67;
    text-align: center;
}

#notes68{
    grid-area: notes68;
    text-align: center;
}

#notes69{
    grid-area: notes69;
    text-align: center;
}

#notes70{
    grid-area: notes70;
    text-align: center;
}

#notes71{
    grid-area: notes71;
    text-align: center;
}

#notes72{
    grid-area: notes72;
    text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav {
    grid-area: nav;
    overflow: hidden;
    background-color:black;
}
  
.nav a {
float: left;
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.nav a:hover {
background-color: #ddd;
color: black;
}

.body{
    text-align: justify; 
}