#page{
    font-family:'Arial', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:    "nav nav nav nav nav"
                            "logo logo logo logo logo"
                            ". headline headline headline . "
                            ". notes1 notes1 . . "
                            ". . notes2 notes2 . "
                            ". notes3 notes3 . . "
                            ". . notes4 notes4 . "
                            ". notes5 notes5 . . "
                            ". . notes6 notes6 . "
                            ". notes7 notes7 . . "
                            ". . notes8 notes8 . "
                            ". notes9 notes9 . . ";

}

#logo{
    grid-area: logo;
    padding: 10px;
    margin: auto;
}

#headline{
    grid-area: headline;
    margin: auto;
    text-align: center;
}

#jill1{
    grid-area: notes1;
    text-align: center;
}

#jill2{
    grid-area: notes2;
    text-align: center;
}

#jill3{
    grid-area: notes3;
    text-align: center;
}

#chris1{
    grid-area: notes4;
    text-align: center;

}

#chris2{
    grid-area:notes5;
    text-align: center;
}

#chris3{
    grid-area:notes6;
    text-align: center;
}

#matt1{
    grid-area: notes7;
    text-align: center;
}

#matt2{
    grid-area: notes8;
    text-align: center;
}

#matt3{
    grid-area: notes9;
    text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav {
    grid-area: nav;
    overflow: hidden;
    background-color:black;
}
  
.nav a {
float: left;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-weight:bold;
}

.nav a:hover {
background-color: rgb(130, 81, 158);
color: black;
}

.body{
    text-align: justify; 
}